body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1100px;
  background-color: #f4f4f4;
  margin: auto auto;
}

.item {
  border: 1px solid black;
  padding: 1rem;
  background-color: coral;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 3fr;
  grid-auto-rows: 4fr;
  gap: 1rem;
}
