* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.box {
  /* background: coral; */
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  /* Shorthand */
  border: 2px solid black;

  /* Same as above */
  /* border-width: 2px;
  border-style: dashed;
  border-color: red; */
}

.box-1 {
  /* border-width: 3px;
  border-color: blue; */
  border: none;
  border-top: solid blue 4px;
  border-bottom: 4px solid red;
}

.box-2 {
  border-radius: 10px;
  /* border-radius: 20%; */
}

.box-3 {
  border-top-left-radius: 10px;
  border-top-right-radius: 15%;
}
