.container {
  max-width: 900px;
  margin: 70px auto;
}

img {
  max-width: 100%;
  /* -webkit-filter: grayscale(100%); */
  /* filter: grayscale(80%); */
  /* filter: blur(2px); */
  /* filter: brightness(100%); */
  /* filter: contrast(50%); */
  /* filter: drop-shadow(0px 0px 5px red); */
  /* filter: hue-rotate(50deg); */
  /* filter: invert(100%); */
  /* filter: opacity(50%); */
  /* filter: saturate(200%); */
  /* filter: sepia(20%); */

  /* chain filter */
  filter: grayscale(100%) blur(5px) drop-shadow(0 0 5px red);
  filter: none;
}
