body {
  font-family: Arial, sans-serif;
  /* background-color: #000; */

  /* RGB */
  /* background-color: rgb(255, 255, 255); */
}

.sporty {
  color: red;
}

/*  Hex value */
.casual {
  color: #e04553;
}

.card {
  /* rgba */
  background-color: rgba(0, 0, 0, 0.5);

  /* hsl */
  background-color: hsl(0, 100%, 50%);

  /* hsla */
  background-color: hsla(0, 100%, 50%, 0.2);
}

.card-2 {
  background-color: #000;
  color: #fff;
  opacity: 0.5;
}
