body {
  font-family: Arial, sans-serif;
}

/* regular link */
a {
  text-decoration: none;
  color: #333;
}

/* hover */
a:hover {
  color: red;
}

/* active */
a:active {
  background-color: purple;
}

/* focus */
a:focus {
  background-color: yellow;
}

/* visited */
a:visited {
  color: coral;
}
