body {
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid red;
}

/* h2 {
  color: red;
  font-size: 30px;
}

a {
  color: blue;
  text-decoration: none;
} */

.sporty {
  color: red;
}

.casual {
  color: blue;
}

.formal {
  color: brown;
}

#container {
  max-width: 600px;
  margin: 100px auto;
  pad: 20px;
}

/* multiple styles */
.sporty,
.casual {
  font-size: 35px;
}

/* descendent styles */
/* #container p {
  background: blue;
} */
