body {
  font-family: Arial, sans-serif;
}

.box {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border: solid black 1px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  position: static;
  left: 30px; /* This will have no effect for static positioning */
}

.box2 {
  position: relative;
  left: 30px;
  top: 20px;
}

.box3 {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.box4 {
  position: sticky;
  top: 200px;
}

.box5 {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: coral;
  z-index: 1;
}

.box6 {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
